dy {
    padding: 0;
    margin: 0;
    background-color: #3498db;
    box-sizing: border-box;

}

.container {
    font-family: Arial, sans-serif;
    background-image: url('./memory_game_adult_colors_1.jpg'); /* path to your image */
    background-size: cover; /* makes it cover entire div */
    background-position: center; /* centers image */
    background-repeat: no-repeat; /* avoids tiling */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.startMain {
       margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Add box appearance */
    background-color: rgb(24, 23, 24);          /* Box color */
    border: 2px solid #0c0d0d;        /* Border color */
    border-radius: 10px;              /* Rounded corners */
    padding: 20px;                    /* Space inside box */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* Soft shadow */
    }
h1 {
    color: #0b0b0b;
    text-align: center;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.matched {
    background-color: #4CAF50;
    color: #fff;
}

#score {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

#timer {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

#startbtn{
    padding: 10px 20px;
    background-color: white;
    color: #3498db;
    border: none;
    font-weight: 900;
}
